{% extends 'base/base.html' %}
{% load staticfiles %}
{% load imagekit %}
{% block static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-9 padding">
            <div class="block">
                {% block content_chat %}
                    <div class="search-message">
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                            <input type="text" placeholder="Поиск" class="form-control">
                        </div>
                    </div>

                    <div>
                        <table class="table table-sm table-chat">
                            <tbody id="container-rooms">
                            {% if object_list %}
                                {% for room in object_list %}
                                    <tr id="{{ room.object.id }}" class="{% if user not in room.object.messages.last.read.all %}no-read{% endif %}" onclick="location.href='{{ room.object.get_absolute_url }}'">
                                        <td width="50">{% thumbnail '50x50' room.logo %}</td>
                                        <td>
                                            <div class="name-chat">
                                                <b>{{ room.name }}</b>
                                            </div>
                                            <div class="last-message {% if room.object.messages.last.author.id != user.id %}{% if user not in room.object.messages.last.read.all %}no-read{% endif %}{% else %}{% if room.object.messages.last.read.all.count < 2 %}no-read{% endif %}{% endif %}">
                                                {#                                                {% thumbnail '25x25' room.object.messages.last.author.settings.avatar %}#}
                                                <img src="{{ room.object.messages.last.author.settings.avatar_25x25.url }}" alt="">
                                                <span class="message">{{ room.object.messages.last.text }}</span>
                                            </div>
                                        </td>
                                        <td style="text-align: right" class="time" width="100">{{ room.object.messages.last.get_time }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <div id="non-chats">
                                    <hr>
                                    <p style="font-size: 14px">У вас нет бесед. Найдите друзей, воспользовавшись поиском в верхней части сайта, добавьте их в
                                        список друзей и напишите им сообщение, нажав на их странице кнопку "Написать сообщение".</p>
                                </div>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                {% endblock %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="block-menu right-menu">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rooms' %}">Все беседы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new-room' %}">Создание беседы</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'chat/scripts.js' %}"></script>
{% endblock %}