{% extends 'base/base.html' %}
{% load staticfiles %}
{% load imagekit %}
{% load poll_extras %}
{% block static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-9 padding">
            <div class="min-block">
                <table class="table table-sm table-header-chat">
                    <tbody>
                    <tr>
                        <td width="40">
                            {% thumbnail '40x40' object.logo %}
                        </td>
                        <td>
                            <b>{{ object.name }}</b>
                            <br>
                            <span class="info-chat">{{ object.info }}</span>
                        </td>
                        <td width="40">
                            {% if object.object.type == 'conversation' %}
                                <div class="dropdown">
                                    <i class="fas fa-ellipsis-h fa-2x"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="" data-toggle="modal" data-target=".edit-room-logo">Обновить фото беседы</a>
                                        <a class="dropdown-item" href="" data-toggle="modal" data-target=".edit-room-name">Редактировать название</a>
                                        <a class="dropdown-item" href="" data-toggle="modal" data-target=".view-all-users">Посмотреть всех участников</a>
                                        <a class="dropdown-item" href="" data-toggle="modal" data-target=".out-of-room">Выйти из беседы</a>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="chat">
                    <div id="room" hidden>{{ object.object.id }}</div>
                    <div id="chat" class="chat-log">
                        {% for message in object.object.messages.all %}
                            <div user="{{ message.author.id }}" time="{{ message.get_time }}" class="chat-item {% if message.author.id != user.id %} other {% if user not in message.read.all %}no-read{% endif %}{% else %}{% if message.read.all.count < 2 %}no-read{% endif %}{% endif %}">
                                <table class="table table-sm table-item-chat">
                                    <tbody>
                                    {% if object.object.messages.all|previous:forloop.counter0 %}
                                        <tr class="title-message">
                                            <td width="50">{% thumbnail '40x40' message.author.settings.avatar %}</td>
                                            <td class="info">
                                                <b class="name-item-chat">{{ message.author.get_short_name }}</b>
                                                <br>
                                                <span class="time-messages">{{ message.get_time }}</span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td width="50"></td>
                                        <td class="text">{{ message.text }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <table class="table table-sm table-footer-chat">
                    <tbody>
                    <tr>
                        <form action="{% url 'send-message' %}" name="message" method="POST">
                            <td>
                                {% csrf_token %}
                                <textarea name="action-new-message" placeholder="Напишите сообщение..." class="form-control" cols="50" rows="1"></textarea>
                                <input hidden name="room-id" value="{{ object.object.id }}" type="text">
                            </td>
                            <td>
                                <button type="submit" class="btn-send">
                                    <i class="far fa-paper-plane fa-2x"></i>
                                </button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {#        <div class="col-lg-3">#}
        {#            <div class="block-menu right-menu">#}
        {#                <ul class="nav">#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link" href="{{ current_user.get_messages_page_url }}">Все беседы</a>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    {% include 'modals/chat/edit_room_logo.html' %}
    {% include 'modals/chat/edit_room_name.html' %}
    {% include 'modals/chat/view_all_users.html' %}
    {% include 'modals/chat/out_of_room.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'chat/scripts.js' %}"></script>
{% endblock %}