{% extends 'base.html' %}
{% load widget_tweaks %}
{% block container %}
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <div class="register block">
                <form name="auth" method="POST" action="">{% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    {% if form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.email.errors }}
                        </div>
                    {% else %}
                        <div style="padding: 8px 10px 10px 10px" class="alert alert-info" role="alert">
                            После регистрации на указанный e-mail будет выслано письмо активации
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-at"></i></span>
                        {{ form.email|attr:'placeholder:E-mail'|attr:'class:form-control' }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user"></i></span>
                        {{ form.first_name|attr:'placeholder:Имя'|attr:'class:form-control' }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user"></i></span>
                        {{ form.last_name|attr:'placeholder:Фамилия'|attr:'class:form-control' }}
                    </div>
                    <div class="alert alert-warning" role="alert">
                        {{ form.password1.help_text|safe }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
                        {{ form.password1|attr:'placeholder:Пароль'|attr:'class:form-control' }}
                    </div>
                    {% if form.password2.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
                        {{ form.password2|attr:'placeholder:Еще раз пароль'|attr:'class:form-control' }}
                    </div>
                    <button class="btn btn btn-outline-success">Зарегестрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}