{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load imagekit %}
{% block static %}
        <link rel="stylesheet" href="{% static 'user/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-9 padding">
            <div class="block">
                <h6>Настройки вашей страницы</h6>
                <hr>
                <form name="settings" method="POST">
                    {% csrf_token %}
                    {{ form_settings.as_p }}
                    <button type="submit" class="btn btn-outline-info">Сохранить</button>
                </form>
            </div>
        </div>
        <div class="col-lg-3 padding">
            <div class="block right-menu">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ user.get_settings_url_page }}">Основные</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}