{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
    {% block static %}
    {% endblock %}
    <title>Социальная сеть</title>
</head>
<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="/"><b>SN</b></a>
        {% if user.is_authenticated %}
            <div class="hidden-sm-down">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <div class="form-inline pull-xs-right">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                        <input type="text" class="form-control" name="general-search" placeholder="Поиск" aria-describedby="basic-addon1">
                    </div>
                    <div id="search-results">
                        <b>Результаты поиска</b>
                        <table class="table table-sm">
                            <tbody id="results-container">
                            <tr>
                                <td>Идет загрузка...</td>
                            </tr>
{#                            <tr onclick="location.href='{{ object.get_absolute_url }}'">#}
{#                                <td width="40">#}
{#                                    <img width="40" height="40" class="img-circle" src="/media/{{ object.settings.avatar }}" alt="">#}
{#                                </td>#}
{#                                <td>Денис Белоглазов</td>#}
{#                            </tr>#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
<body>
<div class="container">
    {% block container %}
        <div class="row">
            <div class="col-lg-2 left-menu">
                {% include 'left-menu.html' %}
            </div>
            <div class="col-lg-10 padding">
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    <hr>
    <nav id="footer" class="nav nav-inline">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{% static 'base/scripts.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>