table {
    margin-top: 15px;
}

.friend-list {
    padding: 10px 0 10px 0
}

.friend-name:first-child {
    color: #4646ff;
    font-weight: bold;
    padding-top: 10px;
}

.table td {
    cursor: pointer;
    border-top: none;
    border-bottom: 1px solid gainsboro;
}