{% extends 'base/base.html' %}
{% load staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'user/styles.css' %}">
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-xs-6 offset-md-3">
            <div class="register block">
                <form name="auth" method="POST">{% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    {% if form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.email.errors }}
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            После регистрации на указанный e-mail будет выслано письмо активации
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-at"></i></span>
                        {{ form.email }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user"></i></span>
                        {{ form.first_name }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user"></i></span>
                        {{ form.last_name }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-mars"></i></span>
                        {{ form.sex }}
                    </div>
                    <div class="alert alert-warning" role="alert">
                        {{ form.password1.help_text|safe }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
                        {{ form.password1 }}
                    </div>
                    {% if form.password2.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
                        {{ form.password2 }}
                    </div>
                    <button class="btn btn btn-outline-success">Зарегестрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}