<div class="modal fade new-message" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            Новое сообщение
            <hr>
            <form action="{% url 'rooms' %}" name="new-message" method="POST">
                {% csrf_token %}
                <input hidden value="{{ current_user.id }}" name="destination" type="text">
                <textarea name="action-new-message" placeholder="Сообщение" class="form-control" cols="52" rows="1"></textarea>
                <div style="margin-top: 15px">
                    <button class="btn btn-outline-success">Готово</button>
                    <button type="button" onclick="$('.modal').modal('hide')" class="btn btn-outline-danger">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>