{% extends 'base/base.html' %}
{% load staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'photo/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 padding">
            <div class="block">
                <h6>
                    Альбом <b>{{ object.name }}</b> (<b>{{ current_user.get_full_name }}</b>)
                </h6>
                <hr>
                <h6 style="float: left; margin-bottom: 3px">
                    Фотографий
                    <span class="count">{{ object.photos.count }}</span>
                </h6>
                <span style="float: right">
                    {% if current_user == user %}
                        <a href="" data-toggle="modal" data-target=".new-photo">Добавить фотографии</a> |
                        <a href=""  data-toggle="modal" data-target=".edit-album">Редактировать</a> |
                        <a id="back" href="{{ object.get_previous_url }}">Назад</a>
                    {% endif %}
                 </span>
                <div style="clear: left"></div>
                <hr>
                {% if object.description %}
                    {{ object.description }}
                    <hr>
                {% endif %}
                <div class="photos">
                    {% for photo in object.photos.all %}
                        <span class="photo">
                            <img style="width: 200px" onclick="location.href='{{ photo.photo.url }}'" src="{{ photo.photo.url }}" alt="">
                            <p id="{{ current_user.id }}" cover="{{ photo.photo.url }}">Сделать обложкой</p>
                        </span>
                    {% endfor %}
                </div>
                {% if current_user == user %}
                    <form method="POST">{% csrf_token %}
                        {{ form_delete }}
                        <button type="submit" class="btn btn-outline-danger">Удалить альбом</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'modals/photo/new_photo.html' %}
    {% include 'modals/photo/edit_album.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'photo/scripts.js' %}"></script>
{% endblock %}