{% extends 'base/base.html' %}
{% load staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'photo/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 padding">
            <div class="block">
                <h6 style="float: left; margin-bottom: 3px">
                    Альбомы пользователя
                    <b>{{ current_user.first_name }}</b>
                    <span class="count">{{ object_list.count }}</span></h6>
                {% if current_user == user %}
                    <a href="" style="float: right" data-toggle="modal" data-target=".new-album">Создать альбом</a>
                {% endif %}
                <div style="clear: left"></div>
                <hr>
                {% if object_list %}
                    <div class="albums">
                        {% for album in object_list %}
                            <span onclick="location.href='{{ album.get_absolute_url }}'">
                            <img style="width: 200px" src="{{ album.cover }}" alt="">
                            <p>{{ album.name }}</p>
                        </span>
                        {% endfor %}
                    </div>
                {% else %}
                    <p style="margin-bottom: 0" class="short-info">
                        Альбомов нет
                    </p>
                {% endif %}
                {% if all_photos %}
                    <h6>Все фотографии <span class="count">{{ all_photos.count }}</span></h6>
                    <hr>
                    <div class="photos">
                        {% for photo in all_photos %}
                            <span class="photo">
                            <img style="width: 200px" onclick="location.href='{{ photo.photo.url }}'" src="{{ photo.photo.url }}" alt="">
                        </span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'modals/photo/new_album.html' %}
{% endblock %}