.min-block {
    padding: 10px 20px 10px 20px
}

.header-block {
    margin-bottom: 20px;
}

.header-block h6 {
    float: left;
    margin: 0;
    line-height: 1.5
}

.header-block a {
    float: right;
    font-size: 13px;
}

.photos {
    padding-bottom: 10px;
}

.photo {
    padding: 0 8px 0 8px;
}

.photo img {
    cursor: pointer;
}

.avatar {
    text-align: center;
}

.avatar img {
    display: inline-block;
}

.avatar button {
    margin-top: 10px;
}

.avatar button {
    width: 200px;
}

.list-friend span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 6px 6px 6px;
    width: 55px;
}

.list-friend span p {
    font-size: 13px;
    text-align: center;
    padding: 4px 0 4px 0;
    margin: 0;
    color: #0275d8;
    overflow: hidden;
    text-overflow: ellipsis;
}

#button-wall {
    display: none;
}

form div {
    margin-bottom: 0 !important;
}

form[name=wall] label, form[name=status] label {
    display: none;
}

input[name=status] {
    display: none;
}

input[name=status] {
    font-size: 10px;
    padding: 2px !important;
}

.status {
    font-size: 13px;
    color: #939393;
}

.status:hover {
    background: #ebebeb;
    cursor: pointer;
}