{% extends 'base.html' %}
{% load staticfiles %}
{% load imagekit %}
{% block static %}
    <link rel="stylesheet" href="{% static 'page/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 padding">
            <div class="avatar block">
                <div class="image">
                    {% if current_user.settings.avatar %}
                        <img style="width: 200px;cursor: pointer" onclick="location.href='{{ current_user.settings.avatar.url }}'" src="{{ current_user.settings.avatar.url }}" alt="">
                    {% endif %}
                </div>
                <div class="buttons">
                    {% if user == current_user %}
                        <button data-toggle="modal" data-target=".bd-example-modal-md" class="btn btn-outline-success">Новое фото</button>
                    {% else %}
                        {% if current_user in user.settings.friends.all %}
                            <button data-toggle="modal" data-target=".new-message" class="btn btn-outline-primary">Написать сообщение</button>

                            <form action="{{ user.get_friends_page_url }}" method="POST">{% csrf_token %}
                                <input name="action-delete-friend" value="{{ current_user.id }}" type="text" hidden>
                                <button style="opacity: 0.6" class="btn btn-outline-danger" type="submit">Убрать из друзей</button>
                            </form>

                        {% elif current_user in user.settings.subscriptions.all %}
                            sub
                        {% else %}
                            <form action="{{ user.get_friends_page_url }}" method="POST">{% csrf_token %}
                                <input name="action-add-friend" value="{{ current_user.id }}" type="text" hidden>
                                <button class="btn btn-outline-primary" type="submit">Добавить в друзья</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="friend min-block">
                <h6 style="cursor: pointer; margin-bottom: 15px" onclick="location.href='{{ current_user.get_friends_page_url }}'">
                    Друзья
                    <span class="count">{{ friends.count }}</span>
                </h6>
                <div class="list-friend">
                    {% if friends %}
                        {% for friend in friends %}
                            <span onclick="location.href='{{ friend.get_absolute_url }}'">
                            {% thumbnail '55x55' friend.settings.avatar %}
                            <p>{{ friend.get_short_name }}</p>
                        </span>
                        {% endfor %}
                    {% else %}
                        <h6 style="color:darkgray">У вас нет друзей</h6>
                    {% endif %}
                </div>
            </div>
            <div class="friend-online min-block">
                <h6 style="cursor: pointer; margin-bottom: 15px" onclick="location.href='{{ current_user.get_friends_page_url }}?section=online'">
                    Друзья онлайн
                    <span class="count">{{ online_friends|length }}</span>
                </h6>
                <div class="list-friend">
                    {% if online_friends %}
                        {% for friend in online_friends %}
                            <span onclick="location.href='{{ friend.get_absolute_url }}'">
                            {% thumbnail '55x55' friend.settings.avatar %}
                            <p>{{ friend.get_short_name }}</p>
                        </span>
                        {% endfor %}
                    {% else %}
                        <h6 style="color:darkgray">Друзей в сети нет</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-8 padding">
            <div class="details block">
                <div>
                    <h5 style="float: left; margin-bottom: 3px">{{ current_user.get_full_name }}</h5>
                    <span style="float: right">{{ current_user.get_last_online }}</span>
                    <div style="clear: left"></div>
                    {% if user == current_user %}
                        <div class="status">
                            {% if current_user.settings.status %}
                                {{ current_user.settings.status }}
                            {% else %}
                                изменить статус
                            {% endif %}
                        </div>
                        <form name="status" method="POST">
                            {% csrf_token %}
                            {{ form_status }}
                        </form>
                    {% else %}
                        <div class="status">
                            {% if current_user.settings.status %}
                                {{ current_user.settings.status }}
                            {% endif %}
                        </div>
                    {% endif %}
                    <hr>
                </div>
                <div class="short-info">
                    {% if current_user.city or current_user.marital_status or current_user.date_of_birth or current_user.employment %}
                        <table class="table table-sm">
                            <tbody>
                            {% if current_user.city %}
                                <tr>
                                    <td>Город проживания:</td>
                                    <th>{{ current_user.city }}</th>
                                </tr>
                            {% endif %}
                            {% if current_user.marital_status %}
                                <tr>
                                    <td>Семейное положение:</td>
                                    <th>{{ current_user.marital_status }}</th>
                                </tr>
                            {% endif %}
                            {% if current_user.date_of_birth %}
                                <tr>
                                    <td>Дата рождения:</td>
                                    <th>{{ current_user.date_of_birth }}</th>
                                </tr>
                            {% endif %}
                            {% if current_user.employment %}
                                <tr>
                                    <td>Тип занятости</td>
                                    <th>{{ current_user.employment }}</th>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    {% else %}
                        <p style="margin-bottom: 0">Информация не указана</p>
                    {% endif %}
                </div>
            </div>
            <div class="photos min-block">
                <div class="header-block">
                    <h6>Фотографии пользователя</h6> <span class="count">{{ last_photos.count }}</span>
                    <a href="{{ current_user.get_albums_page_url }}">Показать все</a>
                    <div style="clear: left"></div>
                </div>
                <hr>
                {% if last_photos %}
                    <div class="photos">
                        {% for photo in last_photos|slice:'4' %}
                            <span class="photo">
                            <img style="width: 100px" onclick="location.href='{{ photo.photo.url }}'" src="{{ photo.photo.url }}" alt="">
                        </span>
                        {% endfor %}
                    </div>
                {% else %}
                    <p style="margin-bottom: 5px" class="short-info">Фотографии отсутствуют</p>
                {% endif %}

            </div>
            <div class="wall block">
                <form name="wall" method="POST">{% csrf_token %}
                    {{ form_new_writting_wall }}
                    <div id="button-wall">
                        <hr>
                        <button class="btn btn-outline-info">Отправить</button>
                    </div>
                </form>
            </div>
            {% for writing_wall in current_user.settings.wall.all reversed %}
                <div class="wall min-block">
                    <div style="line-height: 1" class="header">
                        <div style="vertical-align: middle; padding-right: 10px" class="d-inline-block">
                            {% thumbnail '50x50' writing_wall.author.settings.avatar %}
                        </div>
                        <div style="vertical-align: middle" class="d-inline-block">
                            {{ writing_wall.author.get_full_name }}
                            <br>
                            <span style="font-size: 13px; color:darkgray">{{ writing_wall.datetime }}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="content-wall">
                        {{ writing_wall.message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                Загрузить новую аватарку
                <hr>
                <form name="new-avatar" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{ form_new_avatar.as_p }}
                    <div>
                        <button class="btn btn-outline-success">Готово</button>
                        <button type="button" onclick="$('.modal').modal('hide')" class="btn btn-outline-danger">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'modals/new_message.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'page/scripts.js' %}"></script>
{% endblock %}