{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 padding">
            <div class="photo block">
                {{ object.first_name }}
            </div>
            <div class="friend block">
                друзья
            </div>
            <div class="friend-online block">
                друзья онлайн
            </div>
        </div>
        <div class="col-lg-8 padding">
            <div class="details block">
                <div>
                    <h5 style="float: left">{{ object.first_name }} {{ object.last_name }}</h5>
                    <span style="float: right">online</span>
                    <div style="clear: left"></div>
                    <hr>
                    <div class="short-info">
                        <p>Место проживания: <span>Москва</span></p>
                        <p>Дата рождения: <span>05.55.1999</span></p>
                        <p>Семейное положение: <span>Женат</span></p>
                        <p>Тип занятости: <span>Работаю</span></p>
                    </div>
                </div>
            </div>
            <div class="statistic block">
                фото
            </div>
            <div class="wall block">
                стена
            </div>
        </div>
    </div>
{% endblock %}