{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'friends/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-9 padding">
            <div class="block">
            {% block content_friend %}{% endblock %}
            </div>
        </div>
        <div class="col-lg-3 padding">
            <div class="block">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ user.get_friends_page_url }}">Мои друзья</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ user.get_friend_requests_page_url }}">Заявки в друзья</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}