{% extends 'friend_base.html' %}
{% load staticfiles %}
{% block content_friend %}
    {% if friend_list %}
        <div class="header">
            <h6>Все друзья</h6>
            <h6>Друзья онлайн</h6>
        </div>
        <div class="friend-list">
            <table class="table">
                <tbody>
                {% for friend in friend_list %}
                    <tr onclick="location.href='{{ friend.user.get_absolute_url }}'">
                        <td width="100">
                            <img width="100" class="img-circle" src="/media/{{ friend.user.settings.avatar }}" alt="">
                        </td>
                        <td>
                            <div class="friend-name">
                                <span>{{ friend.user.get_full_name }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        У вас нет друзей
    {% endif %}
{% endblock %}