{% extends 'friend_base.html' %}
{% load staticfiles %}
{% block content_friend %}
    <div class="friend-list">
        <table class="table">
            <tbody>

            {{ friend_requests }}
            {% for friend in friend_requests %}
                <tr onclick="location.href='{{ friend.user.get_absolute_url }}'">
                    <td width="100">
                        <img width="100" class="img-circle" src="/media/{{ friend.user.settings.avatar }}" alt="">
                    </td>
                    <td>
                        <div class="friend-name">
                            <span>{{ friend.user.get_full_name }}</span>
                            <form action="{{ user.get_absolute_url }}" method="POST">{% csrf_token %}
                                <input hidden value="{{ friend.user.id }}" name="new-friend" type="text">
                                <button class="btn btn-outline-info">Принять заявку</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}