body {
    background-color: rgba(252, 218, 241, 0.07);
}

input, button, select, textarea, .input-group-addon, .alert {
    border-radius: 0 !important;
}

.table {
    margin-bottom: 0 !important;
}

.navbar {
    padding: 0;
}

.navbar .form-inline {
    margin-top: 4px;
}

.btn, .input-group input, .input-group span, input, select {
    font-size: 13px !important;
    padding: 5px 8px 5px 8px !important;
}

select.form-control {
    height: 28px !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-size: 13px
}

.border, .border div {
    border: 1px solid black !important;
    height: 500px;
}

/*@media (min-width: 1200px) {*/
    .container{
        max-width: 1000px;
    }
/*}*/

.padding {
    padding: 0 6px 0 6px !important;
}

.welcome, .register {
    padding: 20px 50px 20px 50px !important;
}

.block, .min-block {
    background-color: white;
    box-shadow: 0 0 1px black;
    margin: 12px 0 12px 0;
    padding: 20px 20px 20px 20px;
}

.login {
    padding: 20px 20px 20px 20px;
    box-shadow: none;
}

form[name=auth] div, form[name=auth] button {
    margin-bottom: 10px;
}

form[name=auth] button {
    width: 100%;
}

.alert {
    font-size: 13px;
    padding: 10px 5px 0 0;
}

.short-info {
    font-size: 14px;
    color: rgb(162, 162, 162);
}

.short-info td, .short-info th {
    border-top: none;
    text-align: left;
}

.short-info th {
    color: #0275d8;
}

.left-menu {
    font-size: 13px;
    opacity: 0.8;
}

.left-menu a:hover {
    border-radius: 0;
    background: #f1f1f1;
}

.modal-content {
    padding: 20px 30px 20px 30px
}

#search-results {
    display: none;
    background: white;
    position: absolute;
    margin-top: 5px;
    width: 216px;
    box-shadow: 0 0 1px #9c9c9c;
    font-size: 13px;
    padding: 5px 10px 0 10px;
    z-index: 999;
}

#search-results hr {
    margin: 4px 0 4px 0;
}

#search-results table {
    margin-top: 10px;
}

#search-results table tr {
    cursor: pointer;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.count {
    color: #bcbcbc;
    padding-left: 5px
}

.right-menu {
    font-size: 14px;
}

.block-menu {
    background-color: white;
    box-shadow: 0 0 1px black;
    margin: 12px 0 12px 0;
    padding: 10px 0 10px 0;
}

.block-menu a {
    padding: 4px 12px 4px 12px;
}


.block-menu .active {
    background: rgba(135,206,250,0.16)
}

/*#footer {*/
    /*display: flex;*/
/*}*/

/*#footer a {*/
    /*flex-basis: auto;*/
    /*flex-grow: 1;*/
/*}*/


