
body {
    background-color: rgba(252, 218, 241, 0.07);
}

input, button, .input-group-addon, .alert {
    border-radius: 0 !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.border, .border div {
    border: 1px solid black !important;
    height: 500px;
}

/*@media (min-width: 1200px) {*/
    .container{
        max-width: 1000px;
    }
/*}*/

.padding {
    padding: 0 6px 0 6px !important;
}

.welcome, .register {
    padding: 20px 50px 20px 50px !important;
}

.block {
    background-color: white;
    box-shadow: 0 0 1px black;
    margin: 12px 0 12px 0;
    padding: 20px 20px 20px 20px;
}

.login {
    padding: 20px 20px 20px 20px;
    box-shadow: none;
}

form[name=auth] div, form[name=auth] button {
    margin-bottom: 10px;
}

form[name=auth] button {
    width: 100%;
}

.alert {
    font-size: 13px;
    padding: 10px 5px 0 0;
}

.short-info {
    font-size: 14px;
    color: rgb(162, 162, 162);
}

.short-info td, .short-info th {
    border-top: none;
    text-align: left;
}

.short-info th {
    color: deepskyblue;
}

.status {
    font-size: 13px;
    color: #939393;
}

.left-menu {
    font-size: 13px;
    opacity: 0.8;
}

.left-menu a:hover {
    border-radius: 0;
    background: #f1f1f1;
}

/*#footer {*/
    /*display: flex;*/
/*}*/

/*#footer a {*/
    /*flex-basis: auto;*/
    /*flex-grow: 1;*/
/*}*/


