body {
    background-color: #ededed;;
}

a, .btn-outline-info {
    color: #356f98;
}

.bg-faded {
    background: #356f98;
    border-radius: 0 !important;
}

.btn-outline-info {
    border-color: #356f98;
}

.btn-outline-info:hover {
    background: #356f98;
    border-color: #356f98;
}

.bg-faded .input-group-addon, .bg-faded input, .bg-faded input:focus  {
    border: none;
    background: white;
}

.navbar-nav .nav-item {
    float: right;
}

.nav-stacked i {
    margin-right: 5px;
}

.navbar-brand {
    color: white !important;
}

.counter-in-menu {
    background: #e0e2e3;
    padding: 3px 6px 3px 6px;
    font-weight: bold;

}

.new-m {
    display: none;
    position: fixed;
    padding: 10px;
    bottom: 50px;
    left: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.68);
}

.new-m i {
    color: #ffe800;
}

.new-m #name {
    font-weight: bold;
}

::-webkit-scrollbar-button {
    width: 3px;
    height: 0
}

::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: 0 0 3px white inset;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 1px 1px #fff inset;
    background: #eceeef no-repeat center;
}

::-webkit-resizer{
    width: 3px;
    height: 0;
}

::-webkit-scrollbar{
    width: 5px;
}

input, button, select, textarea, .input-group-addon, .alert {
    border-radius: 0 !important;
}

.modal-content, .dropdown-menu {
    border-radius: 0;
}

.table {
    margin-bottom: 0 !important;
}

.navbar {
    padding: 0;
}

.navbar .form-inline {
    margin-top: 5px;
}

.btn, .input-group input, .input-group span, input, select, textarea {
    font-size: 13px !important;
    padding: 5px 8px 5px 8px !important;
}

select.form-control {
    height: 28px !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-size: 13px
}

.navbar-nav {
    font-size: 15px;
}

.navbar-nav a {
    color: white !important;
}

.border, .border div {
    border: 1px solid black !important;
    height: 500px;
}

.container{
    width: 1000px;
    max-width: none !important;
}

.padding {
    padding: 0 6px 0 6px !important;
}

.welcome, .register {
    padding: 20px 50px 20px 50px !important;
}

.block-menu, .block, .min-block {
    box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12);
}

.block, .min-block {
    background-color: white;
    margin: 12px 0 12px 0;
    padding: 20px 20px 20px 20px;
}

.login {
    padding: 20px 20px 20px 20px;
    box-shadow: none;
}

form[name=auth] div, form[name=auth] button {
    margin-bottom: 10px;
}

form[name=auth] button {
    width: 100%;
}

.alert {
    font-size: 13px;
    padding: 10px 5px 0 0;
}

.short-info {
    font-size: 14px;
    color: rgb(162, 162, 162);
}

.short-info td, .short-info th {
    border-top: none;
    text-align: left;
}

.short-info th {
    color: #356f98;
    font-weight: 500;
}

.form-control:focus {
    border: 1px solid rgba(53, 111, 152, 0.87);
}

.left-menu {
    font-size: 13px;
    opacity: 0.8;
    padding: 0;
}

.left-menu a:hover {
    background: rgba(135,206,250,0.16);
}

.modal-content {
    padding: 20px 30px 20px 30px
}

#search-results {
    display: none;
    background: white;
    position: absolute;
    margin-top: 1px;
    width: 213px;
    box-shadow: 0 0 1px #9c9c9c;
    font-size: 13px;
    padding: 5px 10px 0 10px;
    z-index: 999;
}

#search-results hr {
    margin: 4px 0 4px 0;
}

#search-results table {
    margin-top: 10px;
}

#search-results table tr {
    cursor: pointer;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.count {
    color: #bcbcbc;
    padding-left: 5px
}

.right-menu {
    font-size: 14px;
}

.block-menu {
    background-color: white;
    margin: 12px 0 12px 0;
    padding: 10px 0 10px 0;
}

.block-menu a {
    padding: 4px 12px 4px 12px;
}


.block-menu .active {
    background: rgba(135,206,250,0.16)
}

.min-block {
    padding: 10px 20px 10px 20px
}

/*#footer {*/
    /*display: flex;*/
/*}*/

/*#footer a {*/
    /*flex-basis: auto;*/
    /*flex-grow: 1;*/
/*}*/


